body {
  padding: 50px;
  background: #444;
  font-family: sans-serif;
}
.container {
  background: #fff;
  padding: 20px 50px;
  max-width: 66%;
  margin: auto;
  position: relative;
}
.container img {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 200px;
}